<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=.\SQLEXP2014;Initial Catalog=habitat_core;Integrated Security=False;User ID=sa;Password=Rams@0903" />
  <add name="master" connectionString="Data Source=.\SQLEXP2014;Initial Catalog=habitat_master;Integrated Security=False;User ID=sa;Password=Rams@0903" />
  <add name="web" connectionString="Data Source=.\SQLEXP2014;Initial Catalog=habitat_web;Integrated Security=False;User ID=sa;Password=Rams@0903" />
  <add name="analytics" connectionString="mongodb://mongovm.westus2.cloudapp.azure.com:27017/habitat_analytics" />
  <add name="tracking.live" connectionString="mongodb://mongovm.westus2.cloudapp.azure.com:27017/habitat_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://mongovm.westus2.cloudapp.azure.com:27017/habitat_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://mongovm.westus2.cloudapp.azure.com:27017/habitat_tracking_contact" />
  <add name="reporting" connectionString="Data Source=.\SQLEXP2014;Initial Catalog=habitat_reporting;Integrated Security=False;User ID=sa;Password=Rams@0903" />
</connectionStrings>