<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="SiteUrl" value="http://habitat.test.local:8081"/>
      <add key="RegisterUrl" value="/Register"/>
      <add key="LoginUrl" value="/Login"/>
      <add key="ForgotPasswordUrl" value="/Login/Forgot-Password"/>
      <add key="FolderPicture" value="\Pictures\"/>
      <add key="ChromeDrive" value="\Driver\chromedriver_win32"/>
      <add key="TestUserName" value="dev"/>
      <add key="TestPassword" value="123456"/>
      <!-- Chrome: 1, Firefox: 2 -->
      <add key="BrowserType" value="2"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
